:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}
h1{
    color: var(--cor-2);
}
.Header-container{
    background-color: var(--cor-4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.img-logo{
    width: 80px;
    border-radius: 50px;
}
.Header-container button{
    background-color: #ffffff;
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 12px;
    color: #ce1f3a;
    font-size: 16px;
    font-weight: 600;
}